.pc-hide-wrapper {
    background-color: #424245;
}

.pc-hide-menu {
    display: flex;
    justify-content: space-between;
}

.top-nav-wrapper {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    background-color: #424245;
}

.menu-wrapper {
    height: 48px;
    width: 48px;
}

.wrapper-image {
    color: white;
}

.apple-logo {
    position: absolute;
    width: 48px;
    height: 48px;
    text-align: center;
    left: 50%;
    margin-left: -24px;
}

.apple-image {
    background-size: 17px 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(../img/globalnav_apple_image__b5er5ngrzxqq_large.svg);
}

.bag-logo {
    position: absolute;
    width: 48px;
    height: 48px;
    text-align: center;
}

.bag-image {
    background-size: 15px 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(../img/globalnav_bag_image__yzte50i47ciu_large.svg);
}

.mobile-hide-menu {
    margin: 0 -8px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.mobile-hide {
    display: inline-block;
    position: relative;
    height: 44px;
}

.navlogo {
    background-size: 17px 48px;
    width: 14px;
    background-repeat: no-repeat;
    background-image: url(../img/globalnav_apple_image__b5er5ngrzxqq_large.svg);
    background-position: center;
}

@media only screen and (min-width:833px) {
    .pc-hide-menu {
        display: block;
    }

    .mobile-hide-menu {
    }
}